* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
:root {
    --top-nav-bg-color: rgb(121, 133, 13); 
    --button-shadow: rgb(199, 199, 38);
    --card-bg-color: rgb(187, 122, 37);
}
h2 {
    text-align: center;
    padding: 0.5rem;
    display: block;
    font-size: 3rem;
}
.top-nav {
    height: 5rem;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
}
.wrapper {
    display: block;
    height: 100%;
    border: black 5px solid;
    width: 100%;
    background-color: var(--top-nav-bg-color);
}
.colorstrip {
    display: block;
    height: 100%;
    padding: 0.2rem;
}
.colorstrip .add-book {
    width: 25%;
    display: block;
    margin: 0.4rem;
    height: 80%;
    font-size: 1.5rem;
    box-shadow: 0 0 5px 0.2rem var(--button-shadow);
}
.add-book:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.card {
    margin: 4rem 2rem;
    width: 20%;
    height: 100%;
    border: 5px solid;
    background-color: var(--card-bg-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

}

.card li:nth-of-type(2n):not(h2) {
    border: 1px black solid;
    font-size: 1.5rem;
} 

.card li:not(h2) {
    text-align: center;
    list-style-type: none;
    flex: 1 0 50%;
    padding: 1%;
    margin: 0.2rem auto;
}
    
.card .title {
    width: 100%;
    flex: 1 0 auto;
    text-align: center;
    border-bottom: black 5px dotted;
    font-size: 2rem;
}
.buttons-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
}
.buttons-parent button {
    font-size: 1.2rem;
}
#remove {
    align-self: flex-start;
}
#read {
    align-self: flex-end;
}
.book-input {
    display: block;
    width: 75%;
    height: 75%;
    background-color: white;
    border-radius: 5%;
    margin: 0 auto;
}
.book-form {
    background-color: lavender;
    width: 100%;
    height: 100%;
    display: block;
    border: black solid 4px;
}
.book-form h2 {
    font-size: 2rem;
}
.book-form {
    display: block;
    padding: 0 5%;
    margin: 0 auto;
    border: black solid 4px;
    border-top: none;
    width: 80%;
    height: 10%;
}
#book-input {
    border: black 4px solid;
    border-radius: 5px;
    margin-bottom: 1%;
}
.bottom-form {
    margin: 1% auto;
}
.top-form,
.bottom-form {
    /* border: black solid 2px; */
    margin: 0.5rem;
}
.top-form .form-pair {
    display: inline-block;
    margin: 0.1rem;
}
.top-form label {
    display: inline;
    width: 100%;
    margin: 0.2em auto;
    text-align: center;
    padding: 0.1rem;
    border: black 2px solid;
    background-color: rgb(254, 255, 251);
}
.top-form input {
    display: inline;
    font-size: 14px;
    width: auto;
    text-align: center;
    margin: 0.2rem auto;
    background-color: rgb(230, 230, 230)
}
input {
    border: black 2px solid;
}
form * {
    border-radius: 5px;
}
input:focus::placeholder {
    color: transparent;
}
.bottom-form * {
    display: inline;
}
.bottom-form .read-group {
    border: black solid 2px;
}
.bottom-form button {
    margin: 0 0.5rem;
}
.bottom-form .clear-btns {
    margin-left: 45%;
    display: inline;
}
.active {
    display: none;
}
body {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--main-shelf-bg-color);
}